.plant-item {
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
}
.plant-item a:hover {
  text-decoration: none;
}
.plant-item a h3 {
  color: black;
}
.plant-item a p {
  color: #999999;
}
.plant-item img {
  float: left;
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}
.plant-item div {
  margin-top: 13px;
}
.details img {
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}
.details .subtitle {
  color: #999999;
}
.hide {
  display: none;
}
